
chileme-sev/node_modules
diancan.txt

chileme-cli/src/assets/style/iconfont/demo_index.html
chileme-cli/src/assets/style/iconfont/demo.css


# local env files
.env.local
.env.*.local
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?